#header {
	background:url(images/headers/ani5.jpg) no-repeat center;
}

#undertop {
	background:#c8e2ef url(images/headers/ani5sub.jpg) no-repeat top;
}

#say3, #say2, #say {
	margin:0 0 0 10px;
	margin-top:110px;
}